@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MobileMenu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css?v=3" asp-append-version="true"/>
</head>
<body>
    <div class="container pt-5">
        <div>
            <div class="page-tele2">
                <img src="~/img/vector.svg"/>
                <svg viewBox="0 0 0 34" width="0" height="34" class="header-navbar-logo"><use xlink:href="#darkLogoFill" transform="translate(.6 .42)" fill="#fff"></use><defs><path id="darkLogoFill" fill-rule="evenodd" d="M77.447.143c3.36-.495 6.436.308 8.508 2.256 1.915 1.762 2.888 4.265 2.637 6.923-.44 4.915-2.857 8.872-9.638 15.394l-11.082.371s7.692-6.924 10.611-10.293c1.884-2.194 2.7-4.544 1.915-6.12-.502-.99-1.6-1.484-2.95-1.422V.142zM54.75 4.037v6.399l9.606-1.02V2.708l-9.606 1.33zM46.902 33V5.12l6.592-.929v28.81h-6.592zM20.814 8.735v5.41l7.283-.804V7.746l-7.283.99zM14.818 33V9.57l5.054-.71V33h-5.054zM0 11.61v4.791l13.06-1.421V9.817L0 11.61zm4.175 5.069V33h4.772V16.185l-4.772.494zm16.639 6.956v-5.503l4.771-.402v5.657l-4.771.248zm0 3.956V33h7.283v-5.627l-7.283.217zm33.936-5.78v-6.522l6.31-.556v6.738l-6.31.34zm0 4.792V33h9.606v-6.708l-9.606.31zM30.012 33V7.468l5.745-.804V33h-5.745zm6.812-5.873V33h8.32v-6.12l-8.32.247zm29.667-.896l.031 6.77H89v-7.42l-22.509.65zm.314-12.149C66.428 6.355 69.63 1.626 76.16.266l.031 7.233c-1.38.556-2.73 1.608-2.417 5.965l-6.97.618z"></path></defs></svg>
            </div>

            <div class="page-header">
                <span class="h2 Tele2DisplaySerifWebSHORTBold">Мобильное меню</span>
            </div>

        </div>

        <div class="input-json">
            <div class="form-group">
                <label class="h4" for="exampleFormControlTextarea1">Настройка</label>

                <div class="page-buttons">
                    <button type="button" class="btn btn-outline-dark" onclick="update();">Обновить</button>
                    <button type="button" class="btn btn-outline-dark" onclick="copy();">Копировать</button>
                </div>

                <textarea class="form-control" id="inp" rows="6" onpaste="myFunction()">@ViewBag.json</textarea>
            </div>
        </div>

        <div id="result">
            @await Html.PartialAsync("Menu", ViewBag.list as List<MenuClass>)
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>



