/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.test{
    border: 1pt solid red;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.page-tele2 {
    float: right;
    margin-left: auto;
}

.page-header {
    float: left;
}
.page-buttons{
    margin-bottom: 1rem;
}
.page-buttons {
    clear: left;
}
    .page-buttons button {
        margin-right: 0.2rem;
    display: inline-block;
    vertical-align: middle;
    padding: 1.2rem 1.2rem;
    border-radius: 30px;
    font-family: tele2_textsans_regular,sans-serif;
    font-size: 1rem;
    font-weight: 600;
    line-height: 0px;
    white-space: nowrap;
    cursor: pointer;
    background: transparent;
    border: 2px solid #1f2229;
    border-top-color: rgb(31, 34, 41);
    border-top-style: solid;
    border-top-width: 2px;
    border-right-color: rgb(31, 34, 41);
    border-right-style: solid;
    border-right-width: 2px;
    border-bottom-color: rgb(31, 34, 41);
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-left-color: rgb(31, 34, 41);
    border-left-style: solid;
    border-left-width: 2px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    color: #1f2229;
    transition: .2s cubic-bezier(.4,0,.6,1);
    transition-property: color,background-color,border-color;
    text-align: center;
    outline: none;
    }

    @font-face {
        font-family: 'Tele2DisplaySerifWebSHORTBold';
        src: url(Tele2DisplaySerif-Bold-short__W.eot);
        src: url(Tele2DisplaySerif-Bold-short__W.eot?#iefix) format('embedded-opentype'), url(Tele2DisplaySerif-Bold-short__W.woff) format('woff'), url(Tele2DisplaySerif-Bold-short__W.ttf) format('truetype'), url(Tele2DisplaySerif-Bold-short__W.svg#Tele2DisplaySerifWebSHORT-Bold) format('svg');
        font-weight: normal;
        font-style: normal;
    }

.Tele2DisplaySerifWebSHORTBold {
    font-family: 'Tele2DisplaySerifWebSHORTBold';
    font-weight: normal;
    font-style: normal;
    color: #000000;
}

.tst {
    border: 1px solid red;
}

.menu-card {
    width: 100%;
    margin: 0;
    margin-top: 3rem;
    float: left;
}
.menu-controls {
    width: 100%;
}
.menu-icon {
    height: 32px;
    float: left;
}
.line-icon {
    height: 26px;
    margin-right: 1rem;
    float: left;
}
.card {
    padding: 1rem;
    margin-left: 0.5rem;
    float: left;
}
.card-coll {
    height: 100%;
    width: 33%;
    float: left;
    padding-right: 0.5rem;
    margin-bottom: 1rem;
}
.card-control {
    padding: 1rem;
    border: solid 1pt black;
    float: left;
    height: 100%;
    width: 100%;
    margin-bottom: 0.2rem;
}
.control-title {
    padding-top: 1rem;
    width: 100%;
    clear: left;
}
.body-control {
    clear: left;
}
.line-image {
    margin: 0;
    height: auto;
    float: left;
}
.line-icon {
    margin-right: 1rem;
    margin-top: 0.9rem;
}
.line-control {
    clear: left;
    margin-bottom: 1.5rem;
    width: 32rem;
}
.line-card {
    width: 100%;
    float: left;
    border: solid 1pt black;
    padding: 1rem;

}
.line-control-body {
    float: left;
}
.line-text{
    color: gray;
}
.input-json {
    clear: left;
    padding-top: 2rem;
}
.actionObj-text{
    color: gray;
    font-size: 0.9rem;
}